---
layout: default
---

<div class="home">
    {% for team in site.data.members %}
    {{ team | first | capitalize }}
    <ul class="member-list">
        {% for member in team.last %}
        <li>
            {% assign uri = member.name | replace: " ", "_" | append: ".png" | downcase %}
            <img src="/assets/img/team/{{uri}}" onerror="this.onerror=null; this.src='/assets/img/team/temp.png'">
            {{ member.name }}
        </li>
        {% endfor %}
    </ul>
    {% endfor %}

</div>
