---
layout: default
---
<section id="home" class="splash-section">
    <div></div>
    <div class="title-container">
        <h1>Brown Data Club</h1>
        <div>
            <sub>
                At Brown Data Science, we aim to connect students, faculty, and industries to create a hub for
                opportunities related to Data Science and Machine Learning in Brown’s undergraduate community and
                beyond
            </sub>
        </div>
        <div class="socials-container">
            <i class="fab fa-instagram-square"></i>
            <i class="fab fa-facebook-square"></i>
            <i class="fab fa-twitter-square"></i>
        </div>
    </div>
    <div class="info-container">
        <div>
            <h3>Learn</h3>
            <sub>
                Come to our workshops and data talks, regardless of experience or background.
            </sub>
        </div>
        <div>
            <h3>Connect</h3>
            <sub>
                Chat with leading industry experts, faculty members, and other passionate students.
            </sub>
        </div>
        <div>
            <h3>Chat</h3>
            <sub>
                Hack away at our Datathon and build projects with access to unique and exclusive data sets.
            </sub>

        </div>
    </div>
</section>
<section id="team">
    <h2>
        The Team
    </h2>
    <ul class="member-list">
    {% for team in site.data.members %}
        {% for member in team.last %}
        <li>
            {% assign uri = member.name | replace: " ", "_" | append: ".png" | downcase %}
            <img src="/assets/img/team/{{uri}}" onerror="this.onerror=null; this.src='/assets/img/team/temp.png'">
            <strong>{{ team | first | capitalize }}</strong>
            {{ member.name }}
        </li>
        {% endfor %}
    {% endfor %}
    </ul>
</section>

<section id="sponsors">
    <h2>
        Our Sponsors
    </h2>
    {% for sponsors in site.data.sponsors %}
    <div class="sponsor-list">
        {% for sponsor in sponsors.last %}
        <div class="sponsor-{{sponsor.level}}">
            <a href="{{sponsor.website}}" target="_blank">
                <img src="/assets/img/archive/partners/{{sponsor.img}}" alt="{{sponsor.name}}" onerror="this.onerror=null; this.src='/assets/img/team/temp.png'">
            </a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</section>


<section id="events">

    {% for time in site.data.events %}
    <h2>
        {{time | first | capitalize}} Events
    </h2>
    <div class="events-list">
        {% for event in time.last %}
        <div class="event-block">
            <h4>{{event.name}}</h4>
            <div>{{event.description}}</div>
            <a href="{{event.link}}" target="_blank"><div class="event-button">More Information Here!</div></a>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</section>

<script>
	$(() => {
		$(window).scroll(() => {
			const scroll = $(window).scrollTop()
			const os = $('#team').offset().top
			if(scroll > os - 80){
				$('header').addClass('header-dark');
			} else {
				$('header').removeClass('header-dark');
			}
		})
	})
</script>
